header {
  font-family: Arial, Helvetica, sans-serif;
  color: #ebebeb;
  text-align: center;
  background-color: #777;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: block;
  background-color: #777;
  overflow: hidden;
}

li {
  float: left;
  width: 25%;
  font-family: Arial, Helvetica, sans-serif;
}

li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  text-align: center;
}
li a:hover {
  background-color: #111;
}

#article {
  display: block;
  background-color: #777;
  margin: 1%;
  width: 495px;
  height: 495px;
  float: left;
  padding: 1%;
  font-family: Arial, Helvetica, sans-serif;
}

#aside {
  display: block;
  background-color: #777;
  margin: 1%;
  width: 495px;
  height: 495px;
  float: right;
  padding: 1%;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  margin: 0 auto;
}

#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #777;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: #ebebeb;
}
